<html>
<head>
    <title>Search Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<br/></br/>
<div class="container">
    <div class="col-md-8 offset-md-2">
        {% if query %}
        <h2>
            {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h2>
        {% for c in results %}
        <a href="{{c.get_url}}"><h3>{{c.title}}</h3></a>
        <h3>{{c.author.first_name}}</h3>
        {% empty %}
        <h3>No results found.</h3>
        {% endfor %}
        {% endif %}
        <form action="{% url 'book_list' %}" class="form-inline" method="get">
            <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>
        </form>
    </div>
</div>
</body>
<html>