<html>
<head>
    <title>Book List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <br/>
        <form action="{% url 'search' %}" class="form-inline" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <label for="" class="sr-only">search</label>
                <input name="search" type="" class="form-control" id="" placeholder="Search Book,Author,...">
            </div>
            <button type="submit" class="btn btn-success btn-lg mb-2">Search</button>
        </form>
        <br/>
        {% for x in book %}
        <h3><a href="{% url 'book_detail' x.id %}">{{x.title}}</a></h3>
        <p class="lead">by {{x.author.first_name}}</p>
        <p class="lead">Pages: {{x.page}}</p>
        <hr>
        {% endfor %}
    </div>
</div>
</body>
</html>