<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{book.title}}</title>
</head>
<body>
<div class="container">
    <br/><br/>
    <h2 class="text-center"> {{book.title}}</h2>
    <hr>
    <p class="lead">Author: {{book.author.first_name }} </p>
    <p class="lead">Subjects:
        {% for type in types %}
        {{type.tag}}
        {% endfor %}
    </p>
    <p class="lead">Publication:
        {% for publisher in publishers %}
        {{publisher.name}}
        {% endfor %}
    </p>
    <p class="lead">Pages: {{book.page}} </p>
    <form action="{% url 'book_list' %}" class="form-inline" method="get">
        <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>
    </form>
</div>
</body>
</html>
