{% extends "base.html" %}

{% load static %}


{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>

<form method="post">
    {% csrf_token %}
            {% load static %}
            {{ form }}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
