{% extends "base.html" %}
{% block title %}
{{ user.username }}
{% endblock %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            <div class="form-group">
                {{ u_form }}
                {{ p_form }}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>

        </div>
    </form>
</div>
{% endblock content %}
